<div class="col-md-9">
  <p class="lead">Зарегистрируйтесь пожалуйста</p>
  <div class="form-group">
    <%= form_tag do %>
      <fieldset>
        <div>
          <%= label_tag :name, 'Имя:' %>
          <%= text_field_tag :name, params[:name], class: "form-control" %>
        </div>
        <div>
          <%= label_tag :password, 'Пароль:' %>
          <%= password_field_tag :password, params[:password], class: "form-control" %>
        </div>
        <div class="container-btn-cart">
          <%= submit_tag "Войти", class: "btn btn-success" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>