<div class="col-md-9">
  <p class="lead">Пользователи</p>
  <table class="table">
    <thead>
      <tr>
        <th>Имя</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= link_to 'Посмотреть', user %></td>
          <td><%= link_to 'Изменить', edit_user_path(user) %></td>
          <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Удалить?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Новый пользователь', new_user_path, class: 'btn btn-success'  %>
</div>