<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Ваше имя" %><br>
    <%= f.text_field :name, size: 40, class: "form-control", placeholder: "Введите имя" %>
  </div>
  <div class="form-group">
    <%= f.label :address, "Ваш адресс" %><br>
    <%= f.text_area :address, rows: 3, cols: 40, class: "form-control", placeholder: "Введите адресс"   %>
  </div>
  <div class="form-group">
    <%= f.label :email, "E-mail" %><br>
    <%= f.email_field :email, size: 40, class: "form-control", placeholder: "Введите E-mail"  %>
  </div>
  <div class="form-group">
    <%= f.label :pay_type, "Способ оплаты" %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, {}, { class: 'form-control' } %>
  </div>
  <div class="actions">
    <%= f.submit 'Оформить заказ', class: "btn btn-success" %>
  </div>
<% end %>