<div class="col-md-9">
  <p class="lead">Заказы</p>

    <table class="table">
      <thead>
      <tr>
        <th>Имя</th>
        <th>Адресс</th>
        <th>Email</th>
        <th>Способ оплаты</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.address %></td>
            <td><%= order.email %></td>
            <td><%= order.pay_type %></td>
            <td><%= link_to 'Заказ', order %></td>
            <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Хотите удалить?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>