<div class="col-md-9">
  <p class="lead">Заказ</p>
  <table class="table">
    <thead>
    <tr>
      <th>Изображение</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Количество</th>
      <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |item| %>
      <td><img src="<%= item.product.image_url %>" alt=""></td>
      <td><%= item.product.title %></td>
      <td><%= item.product.description %></td>
      <td>
          <%= item.quantity %>
      </td>
      <td><%= item.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">Сумма</td>
      <td><%= @order.line_items.sum(:quantity) %></td>
      <td><%= number_to_currency(@order.total_price) %></td>
    </tr>
    </tbody>
  </table>
  <%= link_to 'Back', orders_path, class: 'btn btn-success' %>
</div>