<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="col-md-9">
  <p class="lead">Ваша корзина</p>
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Изображение</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Количество</th>
          <th>Цена</th>
        </tr>
      </thead>
        <tbody>
          <% @cart.line_items.each do |item| %>
            <tr>
              <td><img src="<%= item.product.image_url %>" alt=""></td>
              <td><%= item.product.title %></td>
              <td><%= item.product.description %></td>
              <td>
                <span class="badge">
                  <a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                  <%= item.quantity %>
                  <a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </span>
              </td>
              <td><%= item.total_price %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3">Сумма</td>
            <td><%= @cart.line_items.sum(:quantity) %></td>
            <td><%= number_to_currency(@cart.total_price) %></td>
          </tr>
        </tbody>
    </table>
    <div class="container-btn-cart">
      <%= button_to 'Оформить заказ', @cart, method: :delete, data: { confirm: 'Очистить корзину?' },
                    class: 'btn btn-success' %>
      <%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Очистить корзину?' },
                    class: 'btn btn-warning' %>
    </div>
  </div>
</div>