<div class="col-md-9">
  <p class="lead">Товар</p>
  <div class="well">

    <div class="row">
      <div class="col-md-4">
        <img src="<%= @product.image_url %>" alt="">
      </div>
      <div class="col-md-8">
        <h4><%= @product.title %></h4>
        <hr class="hr1">
        <%= @product.description %>
        <hr class="hr1">
        <h4><%= @product.price %> Руб.</h4>
      </div>
    </div>

    <hr class="hr1">

    <div class="text-right">
      <%= button_to 'Добавить в корзину', line_items_path(product_id: @product), class: "btn btn-success", 'data-toggle' => 'modal', remote: true %>
    </div>


  </div>
</div>


<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-success">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1><i class="glyphicon glyphicon-thumbs-up"></i>  Товар добавлен</h1>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Продолжить покупку</button>
        <%= link_to 'Перейти в корзину', cart_path(@cart), class: "btn btn-success" %>
      </div>
    </div>
  </div><
</div>