<div class="col-md-9">
  <p class="lead">Товары</p>

  <table class="table">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= image_tag product.photo.url %></td>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <td><%= product.price %> Руб.</td>
          <td><%= link_to 'Товар', product %></td>
          <td><%= link_to 'Изменить', edit_product_path(product) %></td>
          <td><%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Удалить?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Новый товар', new_product_path, class: "btn btn-success" %>

  <div class="text-center">
    <%= will_paginate%>
  </div>
</div>
