<header>
  <div class="container">
    <div class="row">
      <div class="hidden-xs" id="logo">
        <%= link_to root_url do %>
            <%= image_tag("http://proektofis.ru/images/logo.png", alt: "") %>
        <% end %>
      </div>
      <div class="hidden-xs" id="telephone">
        <span class="glyphicon glyphicon-earphone tel" aria-hidden="true"> 8(8552)59-73-40</span><br>
        <p class="color-p">пн-пт: С 9:00 до 19:00<br>сб: С 10:00 до 17:00</p>
      </div>
    </div>
  </div>
</header>


<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">открыть навигацию</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="/">Интерьер-Офис</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(:controller => 'products', :action => 'index') %> catal"><%= link_to "Весь каталог", controller: "products", action: "index" %></li>
        <li class="<%= 'active' if current_page?(about_url) %>"><%= link_to "О компании", about_url %></li>
        <li class="<%= 'active' if current_page?(services_url) %>"><%= link_to "Услуги",     services_url %></li>
        <li class="<%= 'active' if current_page?(contacts_url) %>"><%= link_to "Контакты", contacts_url %></li>
        <% if session[:user_id] %>
          <li>
            <div class="dropdown dropdown-nav-adm">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Админ возможности
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li class="<%= 'active' if current_page?(:controller => 'orders', :action => 'index') %>"><%= link_to "Заказы", controller: "orders", action: "index" %></li>
                <li class="<%= 'active' if current_page?(:controller => 'users', :action => 'index') %>"><%= link_to "Пользователи", controller: "users", action: "index" %></li>
                <li class="<%= 'active' if current_page?(:controller => 'products', :action => 'table') %>"><%= link_to "Товары", controller: "products", action: "table" %></li>
                <li class="<%= 'active' if current_page?(:controller => 'admin', :action => 'index') %>"><%= link_to "Админ", controller: "admin", action: "index" %></li>
                <li role="presentation" class="divider"></li>
                <li><%= link_to "Выйти", controller: "sessions", action: "destroy", method: :delete %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
      <!-- Shopping Cart List -->
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation">
          <%= link_to(cart_path(@cart)) do %>
            Ваша корзина <span class="badge" id="cart_sum">
          <%= @cart.line_items.sum(:quantity) %>
          </span>
          <% end %>
        </li>
      </ul>
      <!-- End Shopping Cart List -->
    </div>
  </div>
</div>