<div class="col-md-3">
  <p class="lead">Товары по категориям</p>
  <div class="list-group">
    <%= link_to "Офисные кресла и стулья", "#", class: "list-group-item" %>
    <%= link_to "Офисные Перегородки", "#", class: "list-group-item" %>
    <%= link_to "Сейфы", "#", class: "list-group-item" %>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><b><%= value %></b></div>
  <% end %>
</div>