<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | About Us</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">открыть навигацию</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Интерьер-офис", root_path, id: "logo" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "О компании", about_path %></li>
          <li><%= link_to "Услуги",     services_path %></li>
          <li><%= link_to "Контакты", contacts_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
